
<div id="error_explanation">
  <h2>The number of Humans: <%= @humen_count %>. This is my partial for Book Marks</h2>

  <%# Here we are using local variable called 'xyz' %>
  <h2>xyz: <%= xyz %> </h2>
</div>
<%# Here we are using the local variable called as the partial %>
<h2>bookmark: <%= bookmark %> </h2>
