<header>
  <h1><%= @category.name %></h1>

  <div class="row">
    <%= link_to "Edit Category", edit_human_path(@category),
            class: "edit"  %>

    <%= link_to "Delete Category", human_path(@category),
       method: :delete,
       data: { confirm: "Are you sure you want to delete this category?" },
        class: "delete" %>
  </div>
</header>