<h1>Static#tricks</h1>
<p>https://github.com/franzejr/best-ruby</p>

<% age=rand(1..100) %>
<%= "With the age: #{age}, we can sat that '#{ageing age}'." %><br>

<%= debug fibo 6 %>

<%= using_fetch 'b' %>