<h1>idiomatic</h1>
<p>https://github.com/franzejr/best-ruby</p>

<h4>collect : Creates a new array containing the values returned by the block.</h4>
<p>array = (1..10).to_a<p>
<%= array = (1..10).to_a %><br>
<p>array.collect{ |num| num * num }<p>
<%= array.collect{ |num| num * num }%><br>

